---
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import Header from '../components/Header';

const { content } = Astro.props;
const { title, description, publishdate, permalink } = content;
---

<html lang="en">

<head>
  <BaseHead {title} {description} {permalink} />
</head>

<body>
  <div style="width:calc(100% - 40px);max-width:600px;margin:40px auto;">
    <!-- HEADER -->
    <Header />

    <!-- POST -->
    <BlogPost {title} {publishdate}>
      <slot />
    </BlogPost>
  </div>
</body>

</html>